<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unifidokey.core"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    <uses-permission android:name="android.permission.USE_CREDENTIALS" />-->
    <!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!--Required to start activities from background (foreground) services -->

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application>
        <service
            android:name="com.unifidokey.driver.transport.CtapNFCAndroidService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/ctaphcedroidservice" />
        </service>
        <service
            android:name="com.unifidokey.driver.transport.CtapBLEAndroidService"
            android:foregroundServiceType="connectedDevice" />
        <service
            android:name="com.unifidokey.driver.transport.CtapBTHIDAndroidService"
            android:foregroundServiceType="connectedDevice"
            android:stopWithTask="false" />

        <receiver android:name="com.unifidokey.driver.device.DeviceBootBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.unifidokey.driver.notification.NotificationEventBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.unifidokey.driver.notification.UnifidoKeyHandHeldNotificationController.action.TURN_OFF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
