name: Pull Request Gate CI

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  JAVA_VERSION: 17

jobs:
  build:
    strategy:
      matrix:
        java_version: [17, 21]
        os: [ubuntu-24.04]

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java_version }}
          cache: 'gradle'
      - name: Build/Unit test with Gradle
        run: ./gradlew build

  code-analysis:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'gradle'
      - name: Build/Test with Gradle
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: if [ "$SONAR_TOKEN" != "" ]; then ./gradlew jacocoTestReport build sonar -Dsonar.organization=webauthn4j -Dsonar.host.url=https://sonarcloud.io ; fi

  auto-merge:
    runs-on: ubuntu-24.04
    if: ${{ github.actor == 'dependabot[bot]' }}
    permissions:
      contents: write
      pull-requests: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Merge
        run: gh pr merge "${GITHUB_HEAD_REF}" --merge --auto
